/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

#header {
    margin-bottom: 0px;
    border-radius: 0px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

#goBackBtn {
    width: 40px;
    height: 40px;
    border:none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}
body{
    padding-top: 50px;
    margin:0px
}